body {
    font-family: Roboto, 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}

header {
    background-color: #000;
}

.header-area .container-fluid {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.menu,
.footer-menu {
    display: flex;
}

.menu div a {
    margin: 10px 60px 10px 40px;
    font-size: 18px;
    color: #fff;
}

.contact-me {
    padding: 30px 45px;
}

.btn {
    background: #f04e3c;
    padding: 27px 44px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    border-radius: 0px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0;
}

a {
    text-decoration: none;
}

.personal-area,
.about-area,
.gallery-area,
.contact-area {
    height: 500px;
}

.personal-area {
    background-color: #801a1a;
}

.about-area {
    background-color: #38af38;
}

.gallery-area {
    background-color: #3f2da3;
}

.contact-area {
    background-color: #3b1223;
}

.footer-area {
    padding: 20px;
    background-color: #000000;
}

.footer-area .container-fluid {
    display: flex;
    justify-content: flex-end;
}

.footer-menu div a {
    margin: 20px 50px 20px 30px;
    font-size: 16px;
    color: #fff;
}